{{#link-to "resume" resume class="content"}}
  <div class="ui header">
    {{resume.firstName}} {{resume.lastName}}
  </div>
  <div class="description">
    {{#if resume.description}}
      {{markdown-to-html resume.description}}
    {{else}}
      Click to view and modify this resume!
    {{/if}}
  </div>
{{/link-to}}
<div class="extra content">
  <div {{action 'deleteResume'}} class="ui right floated button">Delete</div>
</div>
